<nav class="menu">
	<a href="#" class="profile"><span class="darken"></span><img class="icon-expand"></a>

	<ul >
		<a href="#"><li><%= image_tag("icons/projects.png", :class => "icon-fix") %>Projects</li></a>
		<a href="#"><li><%= image_tag("icons/friends.png", :class => "icon-fix") %>Friends</li></a>
		<a href="#"><li><%= image_tag("icons/notifications.png", :class => "icon-fix") %>Notifications</li></a>
		<a href="#"><li><%= image_tag("icons/settings.png", :class => "icon-fix") %>Settings</li></a>
		<%= link_to 'Signout', signout_path %>
	</ul>

</nav>