<div class="overlay-new-project hide">
	<div class="box-new-project">
		<a href="#" class="modal-close hide-text">close</a>
	</div>
</div>

<div id="container">
	<%= render "header" %>

	<section class="wrapper">
		<%= render "menu_top" %>

		<section class="project">
			<header class="project-header">
				<a href="#" class="back hide-text">Back</a>
				<h2 class="project-title">Projeto lorem ipsum sit amet dolor</h2>
				<ul class="project-settings">
					<li class="time lowercase"><%= image_tag("icons/time.png") %>53h : 23m : 45s</li>
					<li class="participants"><a href="#"><%= image_tag("icons/people.png") %>15 people</a></li>
					<li class=""><a href="#"><%= image_tag("icons/public.png") %>Public</a></li>
				</ul>
			</header>
		
			<nav class="content-nav">
				<ul>
					<li class="active"><a href="#">Ideas</a></li>
					<li><a href="#">Management</a></li>
					<li><a href="#">Generator</a></li>
					<li><a href="#">Invite Friends</a></li>
					<li><a href="#">Deposit</a></li>
				</ul>
			</nav>
			
			<section class="content">	
			</section>
		</section>
	</section>
</div>