<div id="login_top" class="row">
	<header>
		<form id="login_form">
			<div class="small-6 large-6 columns"><%= image_tag("logo_top.png", alt:"logo") %></div>
			<div class="small-6 large-6 columns">
				<div class="small-2 large-2 columns">
					<span class="prefix">Sign in</span>
				</div>
				<div class="small-5 large-5 columns">
					<input name="emailNick" type="text" placeholder="Email/Nick"/>
				</div>
				<div class="small-5 large-5 columns">
					<div class="row collapse">
						<div class="small-9 large-9 columns">
							<input name="password" type="password" placeholder="Password"/>
						</div>
						<div class="small-3 large-3 columns">
							<input type="hidden" name="loginSubmit" value="true"/>
							<button class="button prefix" type="submit">Login</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</header>
</div>

<div id="login_content">
	<div class="row">
		<div id="logint_content_left" class="small-8 large-8 columns">
			<%= image_tag("logo_welcome.png", alt:"logo welcome") %>
			<div class="flex-video">
				<iframe witdth="560" height="315" src="http://www.youtube.com/embed/hXZjzrvuFXg" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>

		<div id="login_content_right" class="small-4 large-4 columns">
			<%= form_for @user, :url => { :action => 'signup' }, :html => { :id => "register_form" } do |f| -%>
				<% if @user.errors.any? %>
					<div id="error_explanation">
						<h2>
							<%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
						</h2>

						<ul>
							<%= @user.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				
				<h3> Sign-up</h3>
				<p>
					<%= f.text_field :name, :placeholder => "Name", :pattern => "[a-zA-Z ]{5,}", :maxlenght => "100", :required => "true" %>
				</p>
				<p>
					<%= f.text_field :nick, :placeholder => "Nick", :pattern => "[a-zA-Z ]{5,}", :maxlenght => "50", :required => "true" %>
				</p>
				<p>
					<%= f.email_field :email, :placeholder => "Email", :maxlenght => "100", :required => "true" %>
				</p>
				<p>
					<%= f.email_field :email_confirmation, :placeholder => "Confirm your email", :maxlenght => "100", :required => "true" %>
				</p>
				<p>
					<label>
						Birthday
						<div class="row collapse">
							<div class="small-6 large-6 columns">
								<select id="user_birthday_2i" name="user[birthday(2i)]">
								    <option value="1" selected>January</option>
								    <option value="2">February</option>
								    <option value="3">March</option>
								    <option value="4">April</option>
								    <option value="5">May</option>
								    <option value="6">June</option>
								    <option value="7">July</option>
								    <option value="8">August</option>
								    <option value="9">September</option>
								    <option value="10">November</option>
								    <option value="11">September</option>
								    <option value="12">December</option>
								</select>
							</div>
							<div class="small-3 large-3 columns">
								<select id="user_birthday_3i" name="user[birthday(3i)]">
								    <option value="1" selected>1</option>
								    <% (2..31).each do |i| %>
										<option value="<%= i %>"><%= i %></option>
									<% end %>
								</select>
							</div>
							<div class="small-3 large-3 columns">
								<select id="user_birthday_1i" name="user[birthday(1i)]">
									<% (1900..(Date.today.year-1)).each do |i| %>
										<option value="<%= i %>"><%= i %></option>
									<% end %>
									<option value="<%= Date.today.year %>" selected><%= Date.today.year %></option>
								</select>
							</div>
						</div>
					</label>
				</p>
				<p>
					<%= f.password_field :password, :placeholder =>"Password", :maxlenght => "50", :required => "true" %>
				</p>
				<p>
					<%= f.password_field :password_confirmation, :placeholder =>"Confirm Password", :maxlenght => "50", :required => "true" %>
				</p>
				<p>
					<%= f.check_box :term_flag, :required => "true" %> I accept the terms 
				</p>
				<ul class="button-group round even-2">
					<li><button type="submit" class="small button">Submit</button></li>
					<li><button type="reset" class="small button alert">Reset</button></li>
				</ul>
			<% end -%>
		</div>
	</div>
</div>

<footer>
	<div id="footer" class="row">
		Upgrade | Advertise | Merch | Press | Careers | Privacy | Copyrights | Terms | Help
	</div>
</footer>