<%= form_for(@project_idea) do |f| %>
  <% if @project_idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_idea.errors.count, "error") %> prohibited this project_idea from being saved:</h2>

      <ul>
      <% @project_idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idea_id %><br>
    <%= f.number_field :idea_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
